<p>Selam {{ name }},</p>
<p>Bu e-maili Restaurant uygulamasından alıyorsun ve bize şifreni unuttuğunu belirttin.</p>
<p>Aşağıdaki <b>Şifremi Yenile</b> butonuna basarak yönlendirileceğin şifre yenileme sayfasından şifreni değiştirebilirsin.</p>
<p>
    <a href="{{ url }}">Şifremi Yenile</a>
</p>

<p>Eğer bu işlemi sen yapmadıysan bu maili dikkate alma.</p>